/node_modules
/public/hot
/public/storage
/bootstrap/cache
/storage/*.key
/vendor
/log
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/nbproject/private/
/public/images/*
/public/public/*
/log/*
